<br>
<BR>
<br>
<h1 class="centered">CURRENT BEACH CLEANUPS</h1>
<hr>
<div class='cleanup-links'>
  <%= link_to 'Add Cleanup', new_cleanup_path %>
</div>
<% @cleanups.each do |cleanup| %>
<div class="container" id="index">
  <div class="row white ">
    <div class="col-lg-6 cleanup-index">
      <div class="index-border">
      <%= image_tag attachment_url(cleanup, :beach_image), :class => "style_image img-responsive" %>
      </div>
      <div class= "indexcleanups-layover">
        <%= link_to cleanup.name, cleanup_path(cleanup) %>
        <p>
          <%= cleanup.eventtimeframe %>
        </p>
      </div>
    </div>
    <% end %>
  </div>
</div><!-- col-lg-6 -->
