<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
      <div class="container-fluid signin">
			<div class="row row-centered">
	      <div class="col-md-offset-4 col-md-5 col-centered text-center login">
          <h3>Please Sign In</h3>
	        <div class='signin-button'>
            <%= image_tag('twitter-icon.png', height: '33', width: '33') %><%= render "devise/shared/links" %>
          </div>
	      </div>
			</div>
    </body>
</html>
