<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
  </head>
  <body>
    <nav class="navbar navbar-default-pages">
      <div class="container-fluid">
        <div class="navbar-header">
          <class="navbar-brand-pages">
            <%= image_tag('aqualogo.png', height: '70', width: '130') %>
          </div>
        </div>
      </div>
    </nav>
    <section class='signin'>
      <div class="container-fluid">
			<div class="row">
	      <div class="col-md-offset-4 col-md-5 col-centered text-center login">
          <h3>Please Sign In</h3>
	        <div class='signin-button'>
            <%= image_tag('twitter-icon.png', height: '33', width: '33') %><%= render "devise/shared/links" %>
          </div>
	      </div>
			</div>
    </section>
    </body>
</html>
