/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

body{
  background-color: #354a55;
}

.pages-header-background {
  // width: 100%;
  height: 650px;
  background-image: image-url('whale.jpg');
  background-repeat: no-repeat;
  background-position: center;}

.pages-header-title{
    position: absolute;
    // width: 100%;
    left: 0;
    right: 0;
    top: 300px;
    text-align: center;
    margin: auto;}

.navbar-default-pages {
  background-color: #252525;
  margin: 0px;
  border: 0px;
}

.first{
  background-color: #ffffff;
  width: 100%;
  padding-bottom: 40px;

  .about-paragraph {
    padding-top: 40px;
  }
}

.second {
  padding-top: 40px;
  background-color: #252525;
  min-height: 500px;

  h4 {
    color: #ffffff;
  }

  p {
    color: #acc1cc;
  }
}

.style_image  {
  border-style: solid;
  border-width: 4px;
  border-color: #354a55;
}

.signin{
  height: 650px;
  background-image: image-url('signin.jpg');
  background-repeat: no-repeat;
  background-position: center;
  margin: 0;

    a:link {
    color: #acc1cc;
  }

    a:visited {
    color: #acc1cc;
  }

    a:hover {
    color: #ffffff;
  }

    a:active {
    color: #acc1cc;
  }

    h3{
    border-bottom-width: 2px;
    border-bottom-color: #c0c0c0;
    border-bottom-style: solid;
  }

    .signin-button{
      padding-top: 30px;
    }

    a {
      font-size: 25px;
    }
}

.login {
  margin-top: 100px;
   background-color: #354a55;
   opacity: .8;
   min-height: 200px;
   max-width: 400px;
   color: #ffffff;
}

a:link {
  color: #acc1cc;
}

a:visited {
  color: #acc1cc;
}

a:hover {
  color: #ffffff;
}

a:active {
  color: #acc1cc;
}

.showcleanups {
  margin-top: 50px;
  left: 0px;
  right: 0px;
  height: 354px;
  border-style: solid;
  border-width: 4px;
  border-color: #acc1cc;

}
.showcleanupsborder {
  background-color:#252525;
  width: 525px;
  opacity: .92;
  position:relative;
  left: 11px;
  top: -73px;

  h2 {
    margin-bottom: 0px;
  }

}

#showcleanupswhen{
  color: #ffffff;
}
