/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */

 @import "bootstrap-sprockets";
 @import "bootstrap";

.pages-header-background {
  width: 100%;
  height: 650px;
  background-image: image-url('logo3.jpg');
  background-repeat: no-repeat;
  background-position: center;}

.pages-header-title{
    position: absolute;
    width: 100%;
    left: 0;
    top: 300px;
    text-align: center;
    margin: auto;}

.navbar-default-pages {
  background-color: #252525;
  margin: 0px;
  border: 0px;
  padding: 8px;}

.about-paragraph {
  padding-top: 40px;
}

.second {
  background-color: #252525;}
